* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  border: 1px grey solid;
  border-radius: 10px;
  padding: 10px 9px;
}

.bi {
  width: 20px;
  height: 20px;
}

#channels-box .text-start {
  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
  overflow-x: hidden;
}

.Toastify__toast {
  cursor: pointer;
}

.doneCheck {
  color: #28a745
}

.noneCheck {
  color: #dc3545
}

.exitBtn{
  min-width: 80px;
}

.container-chat{
    padding: 0 !important;
}

[data-theme="dark"] .border-end {
    border-right-color: #262a33 !important;
}

[data-theme="dark"] .btn-light {
    background: #262a33;
}

[data-theme="dark"] .btn:hover {
  background-color: #1a1d23 !important;
  color: #e6e6e6 !important;
}

.channel-dropdown:hover .btn.btn,
.channel-dropdown:hover .dropdown-toggle.btn {
  color: #000;
  background-color: #d3d4d5;
}

[data-theme="dark"] .channel-dropdown:hover .btn.btn,
[data-theme="dark"] .channel-dropdown:hover .dropdown-toggle.btn {
  background-color: #1a1d23 !important;
  color: #e6e6e6 !important;
}

[data-theme="dark"] .btn.btn-secondary {
  color: #e6e6e6;
}