* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  border: 1px grey solid;
  border-radius: 10px;
  padding: 10px 9px;
}

.bi {
  width: 20px;
  height: 20px;
}

#channels-box .text-start {
  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
  overflow-x: hidden;
}

.Toastify__toast {
  cursor: pointer;
}

.doneCheck {
  color: #28a745
}

.noneCheck {
  color: #dc3545
}