.icon {
    width: 100%;
    height: 100%;
}

[data-theme="dark"] .icon-elem,
[data-theme="dark"] .icon-parent {
    background-color: #262a33;
}

[data-theme="dark"] .icon-parent:hover {
    background-color: #262a33 !important;
}

[data-theme="dark"] .icon-elem:hover{
    border: none;
}

.icon-parent {
  min-width: 40px;
}

.dark-theme-bg{
    background-color: #1a1d23;
}

.text-first-cl.text-light {
    color: #e6e6e6
}

.text-second-cl.text-light2 {
    color: #9aa0a6
}

[data-theme="light"] .text-second-cl.text-light2 {
    color: #212529;
}

.bg-btn-cl-active.btn-bg {
    background-color: #262a33;
}

[data-theme="dark"] .glass-card.bg-card {
    background: rgba(0, 0, 0, 0.15) !important;
    backdrop-filter: blur(20px);
}

[data-theme="dark"] input.form-control {
  background: rgba(255, 255, 255, 0.05) !important;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
  color: #e6e6e6 !important;
}

[data-theme="dark"] .bg-light.text-primary {
    background-color: #262a33 !important;
    color: #e6e6e6 !important;
}

[data-theme="dark"] .message-input {
    border: 0 !important;
}

[data-theme="dark"] .btn-group-vertical {
    border: 1px solid #9aa0a6 !important;
    background-color: #262a33 !important;
    color: #9aa0a6 !important
}